
/*
    @author:17111246 RANGGA DARMAJATI
    @KELAS:17 CID B
    @MATERI: TUGAS E-LEARNING WEB PROGRAMMING 1
*/

.header { grid-area: header; background-color:rgb(100, 149, 237); }
.menu { grid-area: menu; background-color: rgb(216, 210, 135); }
.sidebar { grid-area: sidebar; background-color:rgb(175, 214, 131);}
.content { grid-area: content; background-color: rgba(255, 255, 255, 0.8); height: 350px;}
.footer { grid-area: footer; background-color: rgb(116, 97, 44); }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu menu menu menu menu menu'
    'sidebar content content content content content'
    'footer footer footer footer footer footer';
  grid-gap: 10px;
  background-color: rgb(8, 15, 85);
  padding: 10px;
}

.grid-container > div {
  text-align: center;
}

ul {
  list-style-type:none; margin:0; padding:0;
}
a:link,a:visited {
  display:block; 
  font-weight:bold;
  color:black; 
  width:242px; 
  text-align:center;
  padding:4px;
  text-decoration:none;
}
a:hover,a:active {
  background-color:rgb(66, 114, 12);
  color: #ffffff;
}